<div class="row">
  <div class="col-md-3">
    <rb-recipe-list (recipeSelected)="selectedRecipe = $event"></rb-recipe-list>
  </div>
  <div class="col-md-9">
    <rb-recipe-detail [selectedRecipe]="selectedRecipe"></rb-recipe-detail>
  </div>
</div>