<a href="#" class="list-group-item clearfix">
  <div class="row">
    <h3 class="list-group-item-heading">{{recipe.name}}</h3>
    <p class="list-group-item-text">{{recipe.description}}</p>
  </div>

  <span class="row">
      <img class="img-responsive"
           src="{{recipe.imagePath}}"
           style="width: contain;"/>
  </span>
</a>
